@font-face {
    font-family: 'White Army';
    src: url('WhiteArmy.woff2') format('woff2'),
        url('WhiteArmy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

