.game-boards{
    display: flex;
    gap: 30%;
}

.board{
    display: flex;
    flex-direction: column;
}

.board-row{
    display: flex;
}

.placed-ship{
    background-color: rgba(0, 0, 0, 0.541);
}

.missed-attack{
    background-color: rgb(196, 253, 255);
}

.hit{
    background-color: red;
}

.board-cell{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}